{% extends "/login/collapse-bar.html" %}
{% block title %}Ready!Hols{% endblock %}
{% block head %} {{ super() }} {% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/settings.css">

<style>
</style>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <div class="row justify-content-center" style="margin: 0%; padding: 0%; background-color: #C2D8E2; height: 100%;">
        <div class="col-md-6 col-sm-12">
            <div class="settings-container">
                <form>
                    <fieldset disabled>
                      <legend>Settings</legend>
                      <div class="mb-3">
                        <label class="form-label">Select Plan</label>
                        <select class="form-select" aria-label="plan_select_example">
                            {% if session['plan_type'] == 'Basic' %}
                                <option value="Basic" selected >Basic</option>
                                <option value="Plus">Plus</option>
                                <option value="Premium">Premium</option>
                            {% endif %}

                             {% if session['plan_type'] == 'Plus' %}
                                <option value="Basic">Basic</option>
                                <option value="Plus" selected>Plus</option>
                                <option value="Premium">Premium</option>
                            {% endif %}

                            {% if session['plan_type'] == 'Premium' %}
                                <option value="Basic">Basic</option>
                                <option value="Plus">Plus</option>
                                <option value="Premium" selected>Premium</option>
                            {% endif %}
                        </select>
                      </div>
                      <div class="mb-3">
                        <div class="form-check form-switch">
                            {% if session['share_drive'] %}
                                <input class="form-check-input" type="checkbox" role="switch" checked id="photoDriveChecked">
                            {% else %}
                                <input class="form-check-input" type="checkbox" role="switch" id="photoDriveUnchecked">
                            {% endif %}
                            <label class="form-check-label">Share Photo Drive</label>
                        </div>
                      </div>
                      <div class="mb-3">
                        <a>Settings cannot be updated in this version of Ready!Hols</a>
                      </div>  
                    </fieldset>
                    <button type="submit" class="btn btn-secondary" style="background-color: #219EBC; border-color: none;" disabled>Update</button>
            
                </form>
            </div>

            <div class="add-vacation-groups-container">
                  <legend>Create Vacation Group</legend>
                  {% with errors = get_flashed_messages(category_filter=["error"]) %}
                  {% if errors %}
                  <div class="alert alert-danger" role="alert">
                  {% for message in errors %}
                    {{ message }}
                  {% endfor %}
                  </div>
                  {% endif %}
                  {% endwith %}

                  {% with successes = get_flashed_messages(category_filter=["success"]) %}
                  {% if successes %}
                  <div class="alert alert-success" role="alert">
                      {% for message in successes %}
                      {{ message }}
                      {% endfor %}
                  </div>
                  {% endif %}
                  {% endwith %}
  
                <form class="d-flex" method="POST" id="create_vacation_grp" action="{{url_for('create_vac_grp')}}" role="search" style="margin-top:auto; margin-bottom: 2%;">
                    <input type="text" id="vacation_grp_name" name="vacation_grp_name" class="form-control" placeholder="Group Name" style="margin-right:2%;">
                    <input type="number" id="vacation_id_pin" name="vacation_id_pin" class="form-control" placeholder="Group Pin" style="margin-right:2%;">
                    <button class="btn btn-secondary" style="background-color: #219EBC; border-color:transparent;" type="submit">Create</button>
                </form>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="vacation-group-container">
                <legend>My Vacation Groups</legend>
                <form class="d-flex" method="POST" id="add_vacation_grp" action="{{url_for('logged_settings')}}" role="search" style="margin-top:auto; margin-bottom: 2%;">
                  <input type="number" id="vacation_grp_id" name="vacation_grp_id" class="form-control" placeholder="Group ID" style="margin-right:2%">
                  <input type="number" id="vacation_id_pin" name="vacation_id_pin" class="form-control" placeholder="Group Pin" style="margin-right:2%">
                  <button class="btn btn-secondary" style="background-color: #219EBC; border-color:transparent;" type="submit">Join</button>
                </form>

                <p></p>

                {% with errors = get_flashed_messages(category_filter=["error"]) %}
                  {% if errors %}
                  <div class="alert alert-danger" role="alert">
                  {% for message in errors %}
                    {{ message }}
                  {% endfor %}
                  </div>
                  {% endif %}
                  {% endwith %}

                {% with successes = get_flashed_messages(category_filter=["success"]) %}
                {% if successes %}
                <div class="alert alert-success" role="alert">
                    {% for message in successes %}
                    {{ message }}
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
  
                
                <div class="accordion" id="accordionVacationGroup">
                    {% for i in user_vacgrp_details %}
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading{{loop.index}}">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{loop.index}}" aria-expanded="false" aria-controls="collapse{{loop.index}}">
                            {{i['grp_name']}} ({{i['vac_grp_id']}})
                        </button>
                      </h2>
                      <div id="collapse{{loop.index}}" class="accordion-collapse collapse" aria-labelledby="heading{{loop.index}}" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Members:
                            {% for j in same_vacgrp_users %}
                                {% if j['vac_grp_id']==i['vac_grp_id'] %}
                                    <li>{{j['username']}}</li>
                                {% endif %}
                            {% endfor %}
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>       

</body>

{% endblock %}
