<script src="/static/javascript/file_handling.js"></script>

<div class="container overflow-auto" style="height:100%; margin: 0%; padding: 0%;">
  <form action="{{url_for('logged_vacations_sharing',vac_id=vac_id,vacation_name=vacation_name,vacation_upgraded=vacation_upgraded)}}" method="POST" id="photo_upload_form" enctype="multipart/form-data" >
    <input type="file" name="image_file" accept="image/*" style="margin-top: 1%; margin-bottom: 1%;"
                   class="form-control me-2" id="add_photo" name="add_photo" placeholder="Image File" aria-label="Image File" value="None">
    <label for="album_category" style="margin-bottom: 1%;">Album for uploaded photo:</label>   
    <select class="form-select" name="album_category">
        {% for i in vacation_albums%}
          <option value="{{i['alb_id']}}">{{i['alb_name']}}</option>
        {% endfor %}
        <option value="NONE">None</option>
    </select>
    <button type="submit" class="btn btn-outline-secondary" style="margin-top: 1%;">Add</button>
  </form>

  {% with successes = get_flashed_messages(category_filter=["success"]) %}
    {% if successes %}
      <div class="alert alert-success" role="alert">
        {% for message in successes %}
           {{ message }}
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
      <div class="alert alert-danger" role="alert">
         {% for message in errors %}
          {{ message }}
            {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
    <div class="row">
      {%for j in range(4)%}
        <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
            {% for i in vacation_photo_drive %}
                {% if loop.index %4 == j %}
                    <a href="/static/server-storage/pictures/{{i['photolink']}}">
                      <img
                      src="/static/server-storage/pictures/{{i['photolink']}}"
                      class="w-100 shadow-1-strong rounded mb-4"
                      alt="{{i['photolink']}}"
                      width="225"
                      height="150"
                      style="object-fit:cover;"
                      />
                    </a>
                {% endif %}

            {% endfor %}
        </div>
      {% endfor %}
    </div>

  </div>
</div>


<script>
  file_process('add_photo','upload_photo_form');
</script>