<div class="container overflow-auto" style="height:100%; margin: 0%; padding: 0%;">
    <div class="row">
      {%for j in range(3)%}
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            {% for i in vacation_photo_drive %}
                {% if loop.index %3 == j %}
                    <img
                        src="/static/server-storage/{{i['photolink']}}"
                        class="w-100 shadow-1-strong rounded mb-4"
                        alt="{{i['photo_id']}}"
                    />
                {% endif %}

            {% endfor %}
        </div>
      {% endfor %}
    </div>

  </div>
</div>
