{% extends "/n-login/nav-bar.html" %}
{% block title %}Login{% endblock %}
{% block head %} {{ super() }} {% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/n-login-style.css">

<style>

  html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-image:url("/static/assets/login-background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    }
</style>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <!-- login page content -->

    <div class="container" style="height: 100%; width: 80%;">
      <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12" style="text-align:center;">
            <div class="login-container">
              <h2>Login</h2>
              <br>
              <form action="/">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" style="border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;" id="username_svg">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" style="border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;" id="password_svg">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                      <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                    </svg>
                    </span>
                  </div>
                  <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                </div>

                <p>Don't have an account? Sign up <a href="/sign-up">here</a>!</p>
                <br>
                <div id="loginHelpBlock" class="form-text">
                  Login is clickable for Assignment purposes.
                </div>
                <p></p>
                <button href="" type="login-button" class="btn btn-secondary">Login</button>
              </form>
            </div>
            
        </div>
        
      </div>
    </div>

      
</body>

{% endblock %}
