/* theme colors
Grayscale
#18191A
#242526
#3A3B3C
#E4E6EB
#B0B3B8

Orange
#fdddb6
#fff3e0
Green
#b5eadb
#e3f6f0
Purple
#c8cef3
#e9ebfa
Blue
#b3eced
#e1f6f8
Red
#e1cfbb
#fae9e5
*/

.col{padding-top: 1%}
.btn{padding: 5px 30px 5px 30px; margin-right: 10px;}

.home-container{
    padding-top: 15%;
    padding-left: 10%;
    width: 100%;
}

.tutorial-container{ margin: 2%;}

.about-us-container{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

/* .accordion-item{
    background: #E4E6EB;
} */


.accordion-body{
    color:black;
}

.accordion-button{
    background: white;
}

.accordion-button:visited, .accordion-button:visited, .accordion-button:active{
    background-color:white;
    color:black;
    font-weight:bold;
}

.accordion-button:not(.collapsed){
    background-color: white;
    color: black;
    font-weight: bold;
}

.accordion-button:hover{
    background-color:#F2F2F2;
    color:black;
}


.contact-us-container{
    text-align: center;
    margin: 5%;
}

.login-container{
    margin: 12% 5% 10% 5%;
    padding:8% 5%;
    background-color: #E4E6EB;
    border-radius: 20px;
    box-shadow: 100px;
}

.sign-up-outer-container{
    margin: 2%;
    padding:1% 1%;
    background-color: #E4E6EB;
    border-radius: 20px;
    box-shadow: 100px;
}


.search-container{ margin:2%; }

.sign-up-container-right{ margin: 5% 5% 10% 5%;}
.sign-up-container-left{ margin: 5% 5% 10% 5%;}

.btn:hover{
    scale: 1.05;
}

.upgrade-plan-container{
    margin-top: 10%;
    margin-left: 9.5%;
    margin-right: 9.5%;
    margin-bottom: 5%;
    min-width: 100%;
    width: 100%;
    text-align: center;
}

.contact-us-info-container{
    padding-top: 20%;
    padding-right: 10%;
    text-align:right;
    color:white;
    overflow-x: hidden;
    background-image:url("/static/assets/contact-us-background.png");
    background-attachment: fixed;
    background-size: cover;
}

.table-container{
    margin: 5% 10% 5% 10%
}