.container{ 
  margin: 1%;
}

.col{padding-top: 1%}
.btn{padding: 5px 5px 5px 5px; margin-right: 5px;}

.image { position: relative; width: 100%; }

html, body {
max-width: 100%;
overflow-x: hidden;
background-color:#C2D8E2;
background-size: cover;
}

.nav-pills{
    margin:1%;
}

.tab-custom-container{
  background-color: #F7F9F9;
  height: 85%;
  width: 95%;
  padding: 2%;
  margin: 0% 1%;
  border-radius: 10px;
}
.nav-link:hover{
  scale:1.05;
}


.nav-pills>li.nav-item>button.nav-link:active,.nav-pills>li.nav-item>button.nav-link:visited,.nav-pills>li.nav-item>button.nav-link:focus,.nav-pills>li.nav-item>button.nav-link{
  background-color: #ffffffb8;
  color:black;
}

.nav-pills>li.nav-item>button.nav-link:not(.active){
  background-color:transparent;
  color:black;
}

.popup {
  display: none;
  position: fixed;
  padding: 10px;
  width: 60%;
  left: 20%;
  top: 15%;
  height: 70%;
  background: #FFF;
  border-radius: 25px;
  z-index: 20;
  border-radius: 10px;
}

.popup::before {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: -2;
  border-radius: 10px;
}

.popup::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
  border-radius: 10px;
}


.footer{
  position: absolute;
  bottom: 0;
  padding-bottom: 2%;
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;

}

.btn.btn-outline-secondary{
  background-color: #219EBC;
  color: white;
  border-color:transparent;
}

.btn.btn-outline-secondary:hover{
  background-color: #117993;
}