.container{ 
    padding-top: 5%; 
    margin-left: 0%;
}
.col{padding-top: 1%}
.btn{padding: 5px 30px 5px 30px; margin-right: 10px;}

.image { position: relative; width: 100%;}
     
.custom-container{ 
    position: absolute; 
    top: 80%; 
    left: 10%; 
    width: 100%; 
}

html, body {
max-width: 100%;
overflow-x: hidden;
background-image:url("/static/assets/background-plain.jpeg");
background-size: cover;
}


.nav-link:hover{
  scale:1.05;
}


.nav-pills>li.nav-item>button.nav-link:active,.nav-pills>li.nav-item>button.nav-link:visited,.nav-pills>li.nav-item>button.nav-link:focus,.nav-pills>li.nav-item>button.nav-link{
  background-color: #fdddb6;
  color:black;
}

.nav-pills>li.nav-item>button.nav-link:not(.active){
  background-color:transparent;
  color:white;

}

.nav-pills{
    margin-left:2%;
}

.tab-custom-container{
  background-color: #F7F9F9;
  height: 80%;
  width: 100%;
  padding: 2%;
  margin: 0% 2%;
  border-radius: 10px;
}

.album-container{
  background-color: #F7F9F9;
  padding: 2%;
  margin: 6% 2% 5% 2%;
  border-radius: 10px;
}

.card{
  display: grid;
  grid-template-areas: "image" "text";
  grid-template-rows: 45% 55%;
  border-radius: 20px;
  background: #1d1d1d;
  color:white;
  text-align: center;
}

.card-image{
  grid-area: image;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-size: cover;
}

.card-text{
  margin-top: 5%;
  grid-area: text;
}

.card:hover{
  transform: scale(1.05);
}

