.container{ 
    margin-top: 1%;
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 4%;
}
.col{padding-top: 1%}
.btn{padding: 5px 30px 5px 30px; margin-right: 10px;}

.image { position: relative; width: 100%; }


html, body {
max-width: 100%;
overflow-x: hidden;
background-image:url("/static/assets/background-plain.jpeg");
background-size: cover;
}

.tab-custom-container{
  background-color: #F7F9F9;
  height: 80%;
  width: 100%;
  padding: 2%;
  margin: 0% 2%;
  border-radius: 10px;
}

.nav-pills.nav-link {
    border-radius:100px;
}

.nav-link:hover{
  scale:1.05;
}

.nav-pills{
    margin-left:2%;
}

.nav-pills>li.nav-item>button.nav-link:active,.nav-pills>li.nav-item>button.nav-link:visited,.nav-pills>li.nav-item>button.nav-link:focus,.nav-pills>li.nav-item>button.nav-link{
  background-color: #fdddb6;
  color:black;
}

.nav-pills>li.nav-item>button.nav-link:not(.active){
  background-color:transparent;
  color:white;
}

.calendar-container{
  display:flex;
  padding: 2% 0%;
  align-items: center;
  justify-content: center;
}

.wrapper{
  background: #5a6471;
  width: 70%;
  border-radius: 10px;
}

ul{
  padding:0;
}

.calendar ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}

.wrapper header{
  display:flex;
  align-items: center;
  align-items: baseline;
  justify-content: space-evenly;
  margin-top: 5%;
  padding: 2%;
}

header .current-date{
  color:white;
  font-size:large;
  font-weight: bolder;
}

.calendar ul li{
  width: calc(100%/7);
}

.calendar .weeks li{
  color:white;
  font-weight: bold;
}

.calendar{
  padding: 0% 5% 5% 5%;
}

.calendar .days li{
  color:white;
  z-index: 1;
  cursor: pointer;
  margin-top: 2%;
  margin: 0% 0%;
  padding: 1.5% 0%;
}

.calendar .days li::before{
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    z-index: -1;
    border-radius:50%;

}

.days li.active{
    border-radius:20% ;
    background-color:#F4D597;;
    color:black;
}


.days li.selected{
  border-radius:20% ;
  background-color:#c1f497;;
  color:black;
}

.days li.inactive{
    color: #9c9c9c;
}

.summary-container{
  background-color: #F7F9F9;
  padding: 2%;
  margin: 6% 2% 5% 2%;
  border-radius: 10px;
}