.btn.btn-dark{
    padding:0.5%;
}

.footer{
  position: absolute;
  bottom: 0;
  padding-bottom: 2%;
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;

}


.popup {
  display: none;
  position: fixed;
  padding: 10px;
  width: 60%;
  height: 70%;
  left: 20%;
  top: 15%;
  background: #FFF;
  z-index: 20;
  border-radius: 10px;
}

.popup::before {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: -2;
  border-radius: 10px;
}

.popup::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
  border-radius: 10px;

}
