.container{ 
    margin-top: 1%;
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 4%; 
}
.col{padding-top: 1%}
.btn{padding: 5px 30px 5px 30px; margin-right: 10px;}

.image { position: relative; width: 100%; }


html, body {
max-width: 100%;
overflow-x: hidden;
background:linear-gradient(#949fa1,#4e5354);
}

.tab-custom-container{
  background-color: #F7F9F9;
  height: 75%;
  padding: 2%;
  border-radius: 10px;
}

.nav-pills.nav-link {
    border-radius:100px;
}

/* .nav-link{
  color: black;
} */

.nav-link:hover{
  scale:1.05;
}


.nav-pills>li.nav-item>button.nav-link:active,.nav-pills>li.nav-item>button.nav-link:visited,.nav-pills>li.nav-item>button.nav-link:focus,.nav-pills>li.nav-item>button.nav-link{
  background-color: #fdddb6;
  color:black;
}

.nav-pills>li.nav-item>button.nav-link:not(.active){
  background-color:transparent;
}



.calendar-container{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background:#949fa1;
}

.wrapper{
  background: white;
  width: 70%;
  border-radius: 10px;
}

ul{
  padding:0;
}

.calendar ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}

.wrapper header{
  display:flex;
  align-items: center;
  align-items: baseline;
  justify-content: space-evenly;
  margin-top: 5%;
  padding: 2%;
}

header .current-date{
  font-size:large;
  font-weight: bolder;
}

.calendar ul li{
  width: calc(100%/7);
}

.calendar .weeks li{
  font-weight: bold;
}

.calendar{
  padding: 0% 5% 5% 5%;
}

.calendar .days li{
  margin-top: 2%;
}