<div class="container" style="margin:0%; padding: 0%;">
    {% for i in vacation_timeline %}

    <div class="timeline-object" style="border-left: 3px solid #b0b0b0; height: auto; padding-bottom: 1%;">
        <div class="circle"></div>
        <h5 style="margin-left: 2%; color: #b0b0b0;">{{i['itin_date']}} {{i['itin_time']}}</h5>
        <h4 style="margin-left: 2%;"><b>{{i['description']}} ({{i['itin_type']}})</b></h4>
        <span style="margin-left: 2%;">
            <a>
                <i class="bi bi-geo-alt-fill"></i>
                Location: {{i['location']}} ({{i['state']}}, {{i['country']}})
            </a>
        </span>
        <div class="maps-container" style="margin-left: 2%;">
            {% for j in vacation_maps_itinerary %}
                {% if (j['itin_time'] == i['itin_time']) and (j['day_no'] == i['day_no']) %}
                    <span>
                        <button style="border-radius: 10px; margin-top: 1%;">View Map</button>
                    </span>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}

    {% if vacation_timeline|count == 0 %}
    <div class="container" style="text-align: center;">
        <h2> No Data Yet! </h2>
        <img src="/static/assets/no_data_1.svg" style="height: 40%;">
    </div>
    {% endif %}
</div>
