{% extends "/login/collapse-bar.html" %}
{% block title %}Ready!Hols{% endblock %}
{% block head %} {{ super() }} {% endblock %}

{% block content %}
<script src="/static/javascript/popup.js"></script>


<style>
    .top-container{ margin: 5% 2% 5% 2%; }
    .bottom-container{margin-top: 2%;}
    .col{padding-top: 1%;}

    .image { position: relative; width: 100%; }
         
    html, body {
    max-width: 100%;
    overflow-x: hidden;
    }

    .vacation-card{
        margin-right:0%;
        margin-top: 0%;
        background-color:#c8cef3;
        padding: 20px;
        border-radius: 5px;
    }

    a{
        color:#242526;
    }

    a:hover{
        color:#3A3B3C;
    } 

    .selected{
        background-color:#c8cef3;
        font-weight: bold;
    }
    

</style>
<body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <script>
        var update_row = function(){
        var target_table = document.getElementById("vacation_tbl");
        var indexSelected = -1;
        for (var i = 0; i < target_table.rows.length;i++){
            if (target_table.rows[i].classList.length>0){
                indexSelected = i;
            };
        };
        var vacations_user = {{ vacations_user | tojson}};
        var selectedData = vacations_user[indexSelected - 1];

        if (indexSelected==-1){
            console.log("not selected")
        }else{
        //filling in data
        var vacation_description = document.getElementById('add_vacation_description');
        var vacation_grp_id = document.getElementById("add_vacation_grp");
        var vacation_grp_pin = document.getElementById("add_vacation_grp_pin");
        var vacation_start_date = document.getElementById("add_vacation_start_date");
        var vacation_end_date = document.getElementById("add_vacation_end_date");
        var vacation_budget_limit = document.getElementById("add_vacation_budget_limit");
        var vacation_upgraded = document.getElementById("vacationUpgradeCheck");
        var vacation_header = document.getElementById("vacation_header");

        if(selectedData['upg_user_id']==null){
            vacation_upgraded.checked = false;
        }else{
            vacation_upgraded.checked = true;};

        var plan = {{plan | tojson }};
        console.log("plan")
        console.log(plan)

        if (plan=="Basic"){
            vacation_upgraded.disabled = true;
        }else{
            vacation_upgraded.disabled = false;
        }
        
        vacation_description.value = selectedData['description'];
        vacation_grp_id.value = selectedData['vac_grp_id'];
        vacation_grp_id.disabled = true;
        vacation_grp_pin.disabled = true;
        vacation_start_date.value = new Date(selectedData['start_date']).toISOString().split('T')[0];
        vacation_end_date.value = new Date(selectedData['end_date']).toISOString().split('T')[0];
        vacation_budget_limit.value = selectedData['budget_limit'];
        vacation_header.innerText = "Update Vacation";

        var vacation_form = document.getElementById('vacationFormID');

        vacation_form.action = "/logged/vacations/Update/"+selectedData['vac_id'];
        
        show('vacationPopUp','type_button','Update');
        };
        
        };

        var add_vacation = function(){

        //filling in data
        var vacation_description = document.getElementById('add_vacation_description');
        var vacation_grp_id = document.getElementById("add_vacation_grp");
        var vacation_grp_pin = document.getElementById("add_vacation_grp_pin");
        var vacation_start_date = document.getElementById("add_vacation_start_date");
        var vacation_end_date = document.getElementById("add_vacation_end_date");
        var vacation_budget_limit = document.getElementById("add_vacation_budget_limit");
        var vacation_upgraded = document.getElementById("vacationUpgradeCheck");
        var vacation_header = document.getElementById("vacation_header");


        vacation_upgraded.checked = false;

        var plan = {{plan | tojson }};
        console.log("plan")
        console.log(plan)

        if (plan=="Basic"){
            vacation_upgraded.disabled = true;
        }else{
            vacation_upgraded.disabled = false;
        }
        
        vacation_description.value = "";
        vacation_grp_id.value = "";
        vacation_start_date.value = "";
        vacation_grp_id.disabled = false;
        vacation_grp_pin.disabled = false;
        vacation_end_date.value = "";
        vacation_budget_limit.value = "";
        vacation_header.innerHTML = "New Vacation";

        var vacation_form = document.getElementById('vacationFormID');

        show('vacationPopUp','type_button','Add');

        vacation_form.action = "/logged/vacations/Add/None/";
        

        };

        var delete_vacation = function(){

        console.log("deleting!");
        var target_table = document.getElementById("vacation_tbl");
        var indexSelected = -1;

        
        for (var i = 0; i < target_table.rows.length;i++){
            if (target_table.rows[i].classList.length>0){
                indexSelected = i;
             };
        };


        if (indexSelected==-1){
             console.log("why not working");
             var vacation_form = document.getElementById('delete_modal_body');
             var vacation_delete_button = document.getElementById('deleteVacationButton');
             vacation_form.innerHTML = "No Vacation Selected";
             vacation_delete_button.disabled = true;

        }else{

        var vacations_user = {{ vacations_user | tojson}};
        var selectedData = vacations_user[indexSelected - 1];
        var vacation_delete_button = document.getElementById('deleteVacationButton');
        vacation_delete_button.disabled = false;
        var vacation_form_body = document.getElementById('delete_modal_body');
        vacation_form_body.innerHTML = "Are you sure you want to delete this vacation? This cannot be undone!";

        var vacation_form = document.getElementById('deleteVacation');
        vacation_form.action = "/logged/vacations/Delete/"+selectedData['vac_id'];
        
        };

        };
    
        
    </script>

    <div class="top-container align-items-start">

        <h2>{% if session['username']%} Welcome Back, {{session['username']}}! {% endif %}</h2>
        <h4>Upcoming Vacations</h4>
        <div class="row">
            {%for i in recent_vacations_user%}
                <div class="col" style="max-width: 25%;">
                    <div class="vacation-card" style="height: 100%; max-width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">{{i['description']}}</h5>
                            <span class="d-inline-block text-truncate" style="max-width: 100%;">
                                <div class="card-text">
                                    Start Date: {{i['start_date']}}<br>
                                    End Date: {{i['end_date']}}<br>
                                <a href="{{url_for('logged_vacations_template',vac_id=i['vac_id'],page='summary')}}">
                                    Explore
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="bottom-container justify-content-center">
                <h4>All my vacations</h4>
                <span>
                    <form id="deleteVacation" method="POST" action="" role="search" style="padding-top: 1%; padding-bottom: 1%; margin: 0%;">
                        <button class="btn btn-outline-secondary" type="button" href="#" onclick="add_vacation()">Add Vacation</button>
                        <button class="btn btn-outline-secondary" type="button" href="#" onclick="update_row()">Update Vacation</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="delete_vacation()" data-bs-toggle="modal" data-bs-target="#deleteModal"> Delete Vacation </button>

                    </form>
                </span>

                {% with successes = get_flashed_messages(category_filter=["success"]) %}
                {% if successes %}
                <div class="alert alert-success" role="alert">
                    {% for message in successes %}
                    {{ message }}
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}

                {% with errors = get_flashed_messages(category_filter=["error"]) %}
                {% if errors %}
                <div class="alert alert-danger" role="alert">
                    {% for message in errors %}
                    {{ message }}
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}

                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Confirmation</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body" id="delete_modal_body">
                              Are you sure you want to delete this vacation? This cannot be undone!
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" id="deleteVacationButton" class="btn btn-secondary" form="deleteVacation">Confirm</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="popup" id="vacationPopUp">
                    <form id="vacationFormID" method="POST" action="" role="search" style="padding:2%; overflow:auto; height: 100%; overflow-x:hidden;">

                        <h3 id="vacation_header">New Vacation</h3>
                        <br>
                        <input style="margin-top: 1%;" class="form-control me-2" name="add_vacation_description" id="add_vacation_description" placeholder="Description" aria-label="Description">

                        <input style="margin-top: 1%;" class="form-control me-2" name="add_vacation_grp" id="add_vacation_grp" placeholder="Vacation Group ID" aria-label="Vacation Group ID">

                        <input style="margin-top: 1%;" class="form-control me-2" name="add_vacation_grp_pin" id="add_vacation_grp_pin" placeholder="Vacation Group PIN" aria-label="Vacation Group PIN">

                        <input type="date" style="margin-top: 1%;" class="form-control me-2" name="add_vacation_start_date" id="add_vacation_start_date" placeholder="Vacation Start Date" aria-label="Vacation Start Date" type="date">

                        <input type="date" style="margin-top: 1%;" class="form-control me-2" name="add_vacation_end_date" id="add_vacation_end_date" placeholder="Vacation End Date" aria-label="Vacation End Date" type="date">

                        <input style="margin-top: 1%;" class="form-control me-2" name="add_vacation_budget_limit" id="add_vacation_budget_limit" placeholder="Vacation Budget Limit" aria-label="Vacation Budget Limit" type="number">

                        <div class="form-check" style="margin-top: 1%; margin-bottom: 1%;">
                          <input class="form-check-input" type="checkbox" name="vacationUpgrade" id="vacationUpgradeCheck">
                          <label class="form-check-label" for="vacationUpgradeCheck">
                            Upgrade Vacation
                          </label>
                        </div>

                        <span>
                            <button class="btn btn-outline-secondary" type="submit" id="type_button">Add</button>
                            <button class="btn btn-outline-secondary" type="button" onclick="hide('vacationPopUp')">Cancel</button>
                        </span>

                    </form>
                </div>
                <form method="POST" class="row" action="{{url_for('logged_vacations')}}" role="search" style="margin-top:1%; margin-bottom: 1%;">
                  <div class="col-6 col-md-8">
                      <input class="form-control me-2" name="search" type="search" placeholder="Search by pressing enter" aria-label="Search">
                  </div>
                  <div class="col-6 col-md-4">
                      <select class="form-select" name="category">
                        {% for i in fields%}
                          <option value="{{i}}">Search by {{i}}</option>
                        {% endfor %}
                      </select>
                  </div>
                </form>
                <p></p>
                <!-- to figure out and continue from here -->
                <table class="table table-hover" aria-selected="true" aria-multiselectable="false" id="vacation_tbl">
                    <thead class="bg-dark text-white">
                      <tr style="pointer-events: none;">
                        <th scope="col">No.</th>
                        <th scope="col">Vacation Description</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Budget Limit</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for j in vacations_user%}
                      <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td><a href="{{url_for('logged_vacations_template',vac_id=j['vac_id'],page='summary')}}">{{j['description']}}</a></td>
                        <td>{{j['start_date']}}</td>
                        <td>{{j['end_date']}}</td>
                        <td>${{j['budget_limit']}}</td>
                      </tr>
                    {% endfor %}

                    </tbody>
                  </table>
              </div>

        </div>
    </div>

    <script>
        highlight_row('vacation_tbl');
    </script>
    
</body>

{% endblock %}

