    <form method="POST" class="row" action="{{url_for('logged_vacations_planning',vac_id=vac_id,vacation_name=vacation_name)}}" role="search"
          style="margin-top:auto; margin-bottom: 2%; margin-left: 0%;">
        <div class="row gx-2">
            <div class="col col-md-2">
                <input class="form-control me-2" name="add_maps_itin_time" placeholder=" Time in HH:mm:ss" aria-label="Time">
            </div>
            <div class="col col-md-2">
                <input class="form-control me-2" name="add_maps_itin_day_no" placeholder="Day No" aria-label="Day No">
            </div>
            <div class="col col-md-2">
                <select class="form-select" name="maps_itin_category">
                    <option value="ATTRACTION">ATTRACTION</option>
                    <option value="FOOD">FOOD</option>
                    <option value="TOUR">TOUR</option>
                    <option value="SIGHTSEEING">SIGHTSEEING</option>
                    <option value="OTHERS">OTHERS</option>
                </select>
            </div>
            <div class="col col-md-2">
                <input class="form-control me-2" name="add_maps_itin_description" placeholder="Description" aria-label="Description">
            </div>
            <div class="col col-md-2">
                <input class="form-control me-2" name="add_maps_itin_location" placeholder="Enter Location" aria-label="Location">
            </div>

            <div class="col col-md-2">
              <button class="btn btn-outline-secondary" type="submit">Add</button>
            </div>
            <div class="col col-md-2">
              <button class="btn btn-outline-secondary" type="submit">Delete</button>
            </div>
        </div>

    </form>

<table class="table table-hover">
    <thead class="bg-dark text-white">
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Day No.</th>
        <th scope="col">Time</th>
        <th scope="col">Type</th>
        <th scope="col">Description</th>
        <th scope="col">Location</th>
      </tr>
    </thead>
    <tbody>
    {% for i in vacation_itinerary %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{i['day_no']}}</td>
        <td>{{i['itin_time']}}</td>
        <td>{{i['itin_type']}}</td>
        <td>{{i['description']}}</td>
        <td>{{i['location']}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

 {% if vacation_itinerary|count == 0 %}
    <div class="container" style="text-align: center;">
         <h2> No Data Yet! </h2>
        <img src="/static/assets/no_data_3.svg" style="width: 30%;">
    </div>
    {% endif %}