<div class="maps-container" style="margin: 0%; padding: 0%; overflow: auto; overflow-x: hidden;">
    <form method="POST" class="row" action="{{url_for('logged_vacations_planning',vac_id=vac_id,vacation_name=vacation_name)}}" role="search"
          style="margin-top:auto; margin-bottom: auto; padding-left:1%;">
        <div class="row gx-2">
            <div class="col col-md-7">
                <input class="form-control me-2" name="maps_itin_search" type="search" placeholder="Search by pressing enter" aria-label="Search">
            </div>
            <div class="col col-md-2">
                <select class="form-select" name="maps_itin_category">
                    {% for i in maps_itin_fields%}
                        <option value="{{i}}">Search by {{i}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col col-md-1">
                <button class="btn btn-outline-secondary" type="submit">Add&nbspMap</button>
            </div>

            <div class="col col-md-1">
                <button class="btn btn-outline-secondary" type="submit">Remove&nbspMap</button>
            </div>
        </div>

    </form>
    <p></p>
    <table class="table table-hover">
        <thead class="bg-dark text-white">
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Time</th>
            <th scope="col">Day No.</th>
            <th scope="col">Description</th>
            <th scope="col">Map Name</th>
            <th scope="col">Map Category</th>
            <th scope="col">Attachment</th>
        </tr>
        </thead>
        <tbody>
        {% for i in vacation_itin_map %}
        <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{i['itin_time']}}</td>
            <td>{{i['day_no']}}</td>
            <td>{{i['description']}}</td>
            <td>{{i['name']}}</td>
            <td>{{i['category']}}</td>
            <td>{{i['attachment']}}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>

    {% if vacation_itin_map|count == 0 %}
    <div class="container" style="text-align: center; margin: 0%; padding: 0%;">
        <h5> No Data Yet! </h5>
        <img src="/static/assets/no_data_1.svg" style="height: 30%;">
    </div>

    {% endif %}
</div>

