{% extends "/login/vacations/vacation-collapse-bar.html" %}
{% block title %}Ready!Hols{% endblock %}
{% block head %} {{ super() }} {% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/planning.css">
<style>
</style>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="/static/javascript/popup.js" defer></script>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
           <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Confirmation</h1>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
       <div class="modal-body" id="delete_modal_body">
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
         <button type="submit" id="deleteButton" class="btn btn-secondary" form="hello" >Confirm</button>
       </div>
     </div>
     </div>
   </div>

    <div class="container justify-content-center" style="margin:0%;">
        <ul class="nav nav-pills" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link {{'active' if curr_tab=='budget'}}" id="budget-tab" style="border-radius: 100px;" data-bs-toggle="pill" data-bs-target="#budget" type="button" role="pill" aria-controls="budget" aria-selected="true">Budget</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link {{'active' if curr_tab=='booking'}}" id="booking-tab" style="border-radius: 100px;" data-bs-toggle="pill" data-bs-target="#booking" type="button" role="pill" aria-controls="booking" aria-selected="false">Booking</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link {{'active' if curr_tab=='maps_itin'}}" id="itinerary-map-tab" style="border-radius: 100px;" data-bs-toggle="pill" data-bs-target="#itinerary-map" type="button" role="pill" aria-controls="itinerary-map" aria-selected="false">Itinerary & Maps</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link {{'active' if curr_tab=='itinerary'}}" id="itinerary-tab" style="border-radius: 100px;" data-bs-toggle="pill" data-bs-target="#itinerary" type="button" role="pill" aria-controls="itinerary" aria-selected="false">Itinerary</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link {{'active' if curr_tab=='public_maps'}}" id="public-maps-tab" style="border-radius: 100px;" data-bs-toggle="pill" data-bs-target="#public-maps" type="button" role="pill" aria-controls="public-maps" aria-selected="false">Public Maps</button>
            </li>
        </ul>

          <div class="tab-content" id="myTabContent" style="padding-top: 1%;">
            <div class="tab-pane fade {{'show active' if curr_tab=='budget'}}" id="budget" role="tabpanel" aria-labelledby="budget-tab">
              <div class="tab-custom-container align-content-start">
                  {% include '/login/vacations/planning/budget-component.html' %}
              </div>
            </div>   

            <div class="tab-pane fade {{'show active' if curr_tab=='booking'}}" id="booking" role="tabpanel" aria-labelledby="booking-tab">
                <div class="tab-custom-container align-content-start">
                    {% include '/login/vacations/planning/booking-component.html' %}
                </div>
            </div>

            <div class="tab-pane fade {{'show active' if curr_tab=='maps_itin'}}" id="itinerary-map" role="tabpanel" aria-labelledby="itinerary-map-tab">
                <div class="tab-custom-container align-content-start">
                    {% include '/login/vacations/planning/itinerary-map-component.html' %}
                </div>
            </div>

            <div class="tab-pane fade {{'show active' if curr_tab=='itinerary'}}" id="itinerary" role="tabpanel" aria-labelledby="itinerary-tab">
                <div class="tab-custom-container align-content-start">
                    {% include '/login/vacations/planning/itinerary-component.html' %}
                </div>
            </div>

            <div class="tab-pane fade {{'show active' if curr_tab=='public_maps'}}" id="public-maps" role="tabpanel" aria-labelledby="public-maps-tab">
                <div class="tab-custom-container align-content-start">
                    {% include '/login/vacations/planning/map-component.html' %}
                </div>
            </div>
          </div>
      </div>
      
</body>

{% endblock %}
